body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #70c5ce;
  overflow: hidden;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: #fff;
  border: 1px solid black;
}
